body {
    background-color: rgb(58, 58, 58);
}

/* Header */

header{
    background-color:black;
    position: fixed;
    width: 100%;
    z-index: 11;
}

.nav-principal {
    position: fixed;
    width: 100%;
    top: 4%;
    z-index: 10;
}

.row {
    position: relative;
    top: 70px;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
}



.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
}

.navigation ul li a:hover{
    background: #CCC;
}

.ul-2{
    display: flex;
    justify-content: right;
}

/* Nav */

.container-nav-desplegable{
    display: flex;
    justify-content: right;
}

/* Primer section de historias */
/* caso somerton */
.caso_1 {
    width: 30%;
}

.caso1_foto {
    width: 100%;
    padding-top: 0px;
    clip-path: inset(58px 0px 26px 0px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    transition: all 0.5s ease;
}
.caso1_foto:hover{
    transform: scale(0.9);
}
.texto_caso {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    text-align: justify ;
}

.verMas {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid var(--color_aside);
}

.verMas:hover {
    border-radius: 3px;
    background-color: rgba(255, 204, 0, 0.89);
}

.fecha {
    font-size: 1.25rem;
    color: var(--color_aside);
}

/* caso bermudas */

.caso_2 {
    width: 30%;
}

.caso2_foto {
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    width: 100%;
    padding-top: 10px;
    transition: all 0.5s ease;
}
.caso2_foto:hover{
    transform: scale(0.9);
}
/* Aside completo */

aside {
    width: 24%;
    height: 150vh;
    position: absolute;
    left: 66%;
    top: 15%;
    background-color: black;

}

.carousel-item {
    max-width:29rem;
    height: 14rem;
}


.texto_aside {
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
    top: 77%;
    border: 1px solid #fff;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 3px;
    margin-left: 2px;
    border-radius: 3px;
}

#carousel_2 {
    height: 100%;
}


/* itemsAside */

.aside_columna_titulo {
    position: relative;
}


.Texto_Columnas_Aside {
    padding: 2px;
    color: #fff;
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    line-height : 36px;
}

li {
    position: relative;
    right: 5%;

}

.texto_bajo_titulo {
    position: relative;
    color: #fff;
    font-size: 0.9rem;
    border-bottom: 2px solid var(--color_aside);

}

.texto_bajo_titulo:hover {
    background-color: rgba(255, 204, 0, 0.89);

}

:root {
    --color_aside: #fc0;
}

.sub-texto-mov {
    position: relative;
    top: 12px;
}

.posicion {
    color: #fff;
    font-size: 5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.numero_1 {
    position: absolute;
    right: 12%;
    top: 50%;
}

a {
    text-decoration: none;
    color: #fff;
}

.barra_gris {
    border-bottom: 1px solid grey;
    width: 70%;
    position: absolute;
    bottom: -50px;
    right: 17%;
}

.aside_titulo_2 {
    padding-top: 8%;
    width: 80%;
}

.titulo_subrayar_hover:hover {
    text-decoration: underline;
}

.texto_bajo_titulo_2_3 {
    font-size: 1.2rem;
}

.texto_bajo_titulo_2_3:hover {
    color: grey;
}

.numero_2 {
    position: absolute;
    right: 10%;
    top: 89%;
}

.aside_titulo_3 {
    position: absolute;
    width: 100%;
}

.numero_3 {
    position: absolute;
    right: 12%;
    top: 0%;
}

.li_viaje_aventura {
    width: 80%;
}

/* Segundo section de noticias */
.section-noticias{
    display: flex;
    /* flex-direction: row; */
    background-color: #fff; 
    height: 600px;
    /* justify-content: center;    */
    justify-content: space-evenly;
    /* align-content: space-around; */
}
#noticia-a{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}
#noticia-b{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}
.img-noticias{
    width: 500px;
    height: 300px;
    float: left;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    transition: all 0.5s ease;
}
.img-noticias:hover{
    transform: scale(0.9);
}
.descripcion-noticias{
    width: 500px;
    height: 200px;
}
.subrayado-noticia{
    color: black;
    font-size: 1rem;
}
.subrayado-noticia:hover{
    text-decoration: underline;
}
.hover-noticia{
    color: black;
    font-size: 2rem;
    letter-spacing: 0.5px;
}
.hover-noticia:hover{
    color: grey;
}
.pintado-noticia{
    float: left;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    margin: 8px;
    border-bottom: 2px solid var(--color_aside);
}
.pintado-noticia:hover{
    border-radius: 3px;
    background-color: rgba(255, 204, 0, 0.89);
}



/*Footer*/

footer {
    height: 27vh;
    background-color: black;
}

.descripcion {
    position: relative;
    top: 25%;
    font-family: Arial ;
    font-size: 1.7rem;
}

.copyright {
    position: relative;
    top: 25%;
}

.copy {
    color: grey;
}

@media screen and (min-width: 1900px) {
    aside {
        height: 114vh;
    }

    footer {
        margin-top: 7%;
    }
    .section-noticias {
        position: relative;
        top: 150px;
        height: 74vh;
    }
    #noticia-a {
        height: 55vh;
    }

    #noticia-b {
        height: 55vh; 
    }
}

.redes_sociales {
    margin-right: 3%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    right: 0;
}

i {
    margin: 2px;
}


@media only screen and (max-width: 321px) {
    .nav-principal {
        position: fixed;
        top: 40px;
        width: 320px;
    }

    .fecha {
        font-size: 0.9rem;
    }
    .row {
        display: flex;
        flex-direction: column;
    }

    .texto_caso {
        font-size: 0.9rem;
        width: 300px;
    }

    .caso_2 {
        width: 320px;
        margin: 0 !important;
    }

    .caso_1 {
        width: 320px;
        margin: 0 !important;
    }

    .header_media {
        width: 320px;
        height: 40px;

    }

    .header_media ul li a {
        font-size: 0.7rem;
    }

    aside {
        display: none;
    }

    .inicio_media {
        display: none !important;
    }
    
    .ul-1 {
        display: flex;
        width: 320px;
    }

    /* section-noticias */

    .section-noticias {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 120px;
        height: 100%;

        /* display: none; */
    }
    

    .img-noticias {
        margin: 8px;
        width: 305px;
        height: 200px;
    }

    .descripcion-noticias {
        width: 320px;
        height: 100px;
    }

    .descripcion-noticias ul li h2 a {
        font-size: 1.0rem;

    }

    #noticia-b {
        position: relative;
        top: 120px;
        background-color: #fff;
    }
    
    footer {
        position: relative;
        top: 300px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    aside {
        width: 30%;
        height: 135%;
     }
    
    .section-noticias {
        position: relative;
        top: 100px;
        height: 80vh;
    }

    .descripcion-noticias {
        height: 440px;
    }

    footer {
        position: relative;
        top: 100px;
    }
}


@media only screen and (min-width:1200px) and (max-width:1600px){
    aside {
        width: 30%;
        height: 135%;
     }
    
    .section-noticias {
        position: relative;
        top: 100px;
        height: 100vh;
    }

    .descripcion-noticias {
        height: 440px;
    }

    footer {
        position: relative;
        top: 240px;
    }

    .nav-principal {
        position: fixed;
        top: 40px;
    }
}

@media only screen and (min-width:1600px) and (max-width:1900px) {
    aside {
        width: 28%;
        height: 125%;
     }
    
    .section-noticias {
        position: relative;
        top: 100px;
        height: 90vh;
    }

    .descripcion-noticias {
        height: 440px;
    }

    footer {
        position: relative;
        top: 100px;
    }
}