body {
    background-color: rgb(58, 58, 58);
}

/* caso somerton */
.caso_1 {
    width: 30%;
}

.caso1_foto {
    width: 100%;
    padding-top: 0px;
    clip-path: inset(58px 0px 26px 0px);
}


.texto_caso {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    text-align: justify ;
}


.verMas {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid var(--color_aside);
}

.verMas:hover {
    border-radius: 3px;
    background-color: rgba(255, 204, 0, 0.89);
}

.fecha {
    font-size: 1.25rem;
    color: var(--color_aside);
}

/* caso bermudas */

.caso_2 {
    width: 30%;
}

.caso2_foto {
    width: 100%;
    padding-top: 10px;
}


/* Aside completo */

aside {
    width: 24%;
    height: 120vh;
    position: absolute;
    left: 66%;
    top: 15%;
    background-color: black;

}

.carousel-item {
    max-width:29rem;
    height: 14rem;
}


.texto_aside {
    position: absolute;
    color: #fff;
    font-family: 'Lato', sans-serif;
    top: 77%;
    border: 1px solid #fff;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 3px;
    margin-left: 2px;
    border-radius: 3px;
}

#carousel_2 {
    height: 100%;
}


/* itemsAside */

.aside_columna_titulo {
    position: relative;
}


.Texto_Columnas_Aside {
    padding: 2px;
    color: #fff;
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    line-height : 36px;
}

li {
    position: relative;
    right: 5%;

}

.texto_bajo_titulo {
    position: relative;
    color: #fff;
    font-size: 0.9rem;
    border-bottom: 2px solid var(--color_aside);

}

.texto_bajo_titulo:hover {
    background-color: rgba(255, 204, 0, 0.89);

}

:root {
    --color_aside: #fc0;
}

.sub-texto-mov {
    position: relative;
    top: 12px;
}

.posicion {
    color: #fff;
    font-size: 5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.numero_1 {
    position: absolute;
    right: 12%;
    top: 50%;
}

a {
    text-decoration: none;
    color: #fff;
}

.barra_gris {
    border-bottom: 1px solid grey;
    width: 70%;
    position: absolute;
    bottom: -50px;
    right: 17%;
}

.aside_titulo_2 {
    padding-top: 8%;
    width: 80%;
}

.titulo_subrayar_hover:hover {
    text-decoration: underline;
}

.texto_bajo_titulo_2_3 {
    font-size: 1.2rem;
}

.texto_bajo_titulo_2_3:hover {
    color: grey;
}

.numero_2 {
    position: absolute;
    right: 10%;
    top: 89%;
}

.aside_titulo_3 {
    position: absolute;
    width: 100%;
}

.numero_3 {
    position: absolute;
    right: 12%;
    top: 0%;
}

.li_viaje_aventura {
    width: 80%;
}

footer {
    height: 20vh;
    background-color: black;
}