:root{
    --color: #222; 
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color);
}
.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.fotos .galeria{
    max-width: 850%;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 1rem;
}
.fotos .galeria img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition:  1s linear;
}
.fotos .galeria img:hover{
    background-color: #222;
}
.fotos .galeria .img-a{
    grid-column: 1/3;
}
.fotos .galeria .img-b{
    grid-row: 2/4;
}
.fotos .galeria .img-i{
    grid-column: 3/5;
}
.fotos .galeria .img-j{
    grid-column: 1/3;
}

