:root{
    --color: #222; 
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color);
}

/* Header */

header{
    background-color:black;
    position: fixed;
    width: 100%;
    z-index: 11;
}

.nav-principal {
    position: fixed;
    width: 100%;
    top: 4%;
    z-index: 10;
}

.row {
    position: relative;
    top: 70px;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
}

.navigation ul li a:hover{
    background: #CCC;
}

.ul-2{
    display: flex;
    justify-content: right;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

/* Nav */

.container-nav-desplegable{
    display: flex;
    justify-content: right;
}

.titulo_nav {  
    height: 30%;
    width: 39%;
}

.ojo {
    border-radius: 250px;
    height: 20px;
    filter: invert(100%);
}

#ojo2 {
    margin-left: 15px;
    height: 20px;
}

.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fotos .galeria{
    max-width: 850%;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 1rem;
}
.fotos .galeria img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation-name: galery;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    transition: all 0.5s ease;
    animation-delay: 3;
}
.fotos .galeria img:hover{ 
    transform: scale(.1);
}
@keyframes galery {
    0%{
        transition: all .9s;
    }
    20%{
        transform: scale(1.5);
    }
}
.fotos .galeria .img-a{
    grid-column: 1/3;
}
.fotos .galeria .img-b{
    grid-row: 2/4;
}
.fotos .galeria .img-i{
    grid-column: 3/5;
}
.fotos .galeria .img-j{
    grid-column: 1/3;
}


/*Footer*/

footer {
    height: 27vh;
    background-color: black;
}

.descripcion {
    position: relative;
    top: 25%;
    font-family: Arial ;
    font-size: 1.7rem;
}

.copyright {
    position: relative;
    top: 25%;
}

.copy {
    color: grey;
}

.redes_sociales {
    margin-right: 3%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    right: 0;
}

i {
    margin: 2px;
}

@media screen and (min-width: 1900px) {
   
    footer {
        margin-top: 7%;
    }

    header{
        position: fixed;
        top: 0;
    }
   
}

@media only screen and (min-width: 320px) and (max-width:768px){
    .nav-principal {
        position: fixed;
        top: 40px;
        width: 120%;
    }

    .header_media {
        width: 320px;
        height: 40px;

    }

    .header_media ul li a {
        font-size: 0.7rem;
    }

    .inicio_media {
        display: none !important;
    }
    
    .ul-1 {
        display: flex;
        width: 320px;
    }
    
    .nuestro_e_titulo {

        position: relative;
        top: 100px !important;
        font-size: 2.5rem !important;
    }
    
    .col-xxl-4 {
        border: 0px !important;
    }

    .container {
        margin-top: 40% !important;
    }

    .descripcion {
        position: relative;
        top: 25%;
        font-size: 0.6rem;
        width: 35%;
    }

    .copyright {
        font-size: 0.6rem;
        width: 35%;
    }
    
    .redes_sociales a i {
        position: relative;
        bottom: 50px;
        font-size: 0.8rem;
    }

    .siguenos_view {
        position: relative;
        bottom: 35px;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    footer {
        position: relative;
        top: 100px;
    }
}


@media only screen and (min-width:1200px) and (max-width:1600px){
    footer {
        position: relative;
        top: 240px;
    }

    header{
        position: fixed;
        top: 0;
    }

    .nav-principal {
        position: fixed;
        top: 40px;
    }
}

@media only screen and (min-width:1600px) and (max-width:1900px) { 

    footer {
        position: relative;
        top: 100px;
    }
}
