* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

section {
    animation-name: animacionContenedor;
    max-width: 110px;
    width: 20%;
    animation-duration: 2s;    
}

#img-jeffreydhamer-inicio {
    position: absolute;
    margin-top: 10%;
    border-radius:0 10px 10px 0;
    width: 20%;
    height: 20%;
}

#img-dalianegra-inicio {
    position: absolute;
    margin-top: 30%;
    border-radius: 0 10px 10px 0;
    width: 20%;
    height: 30%;
}

#img-casaterror-inicio {
    position: absolute;
    left: 40%;
    height: 20%;
    width: 15%;
    margin-top: 0%;
    border-radius: 10px;
}

#img-señor-inicio{
    position: absolute;
    left: 85%;
    right: 0%;
    top: 130px;
    border-radius: 10px;
    height: 40%;
    width: 30%;
}

#img-manomiedo-inicio {
    position: absolute;
    left: 50%;
    top: 70%;
    border-radius: 10px;
}
