body {
    background-color: rgb(58, 58, 58);
}

/* Header */

header{
    background-color:black;
    position: fixed;
    width: 100%;
    z-index: 11;
    
}

.nav-principal {
    position: fixed;
    width: 100%;
    top:4%;
    z-index: 1F0;
}


.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.navigation ul li{
    display: inline-block;
    
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s;
}

.navigation ul li a:hover{
    background: #CCC;
}

.ul-2{
    display: flex;
    justify-content: right;
    
}

/* Nav */

.container-nav-desplegable{
    display: flex;
    justify-content: right;
}

.titulo_nav {  
    height: 30%;
    width: 39%;
}

.ojo {
    border-radius: 250px;
    height: 20px;
    filter: invert(100%);
}

#ojo2 {
    margin-left: 15px;
    height: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

/*Footer*/

footer {
    height: 27vh;
    background-color: black;
}

.descripcion {
    position: relative;
    top: 25%;
    font-family: Arial ;
    font-size: 1.7rem;
}

.copyright {
    position: relative;
    top: 25%;
}

.copy {
    color: grey;
}

.redes_sociales {
    margin-right: 3%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    right: 0;
}

i {
    margin: 2px;
}


@media screen and (min-width: 1900px) {
    footer {
        margin-top: 7%;
    }
}


@media only screen and (min-width: 320px) and (max-width:768px) {
    .nav-principal {
        position: fixed;
        top: 40px;
        width: 100%;
    }

    .header_media {
        width: 320px;
        height: 40px;

    }

    .header_media ul li a {
        font-size: 0.7rem;
    }

    .inicio_media {
        display: none !important;
    }
    
    .ul-1 {
        display: flex;
        width: 320px;
    }
 

    iframe {
        display: none;
    }

    .container-form{
        width: 100%;
        margin: 0px !important;

    }

    .container-form h2{
        width: 100%;
    }
    .container-form p{
        width: 100% !important;
        font-size: 1.2rem !important;
    }

    .container-form form textarea{
        max-width: 300px !important;
        min-width: 300px !important;
        min-height: 140px;
        max-height: 140px;
    }

    .container-form .btn-enviar {
        margin: 0 !important;
    }

    footer {
        position: relative;
        top: 120px;
    }

    .descripcion {
        position: relative;
        top: 25%;
        font-size: 0.6rem;
        width: 35%;
    }

    .copyright {
        font-size: 0.6rem;
        width: 35%;
    }
    
    .redes_sociales a i {
        position: relative;
        bottom: 50px;
        font-size: 0.8rem;
    }

    .siguenos_view {
        position: relative;
        bottom: 35px;
        font-size: 0.9rem;
    }

}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    footer {
        position: relative;
        top: 100px;
    }
}


@media only screen and (min-width:1200px) and (max-width:1600px){
    footer {
        position: relative;
        top: 240px;
    }

    .nav-principal {
        position: fixed;
        top:40px;
    }
}

@media only screen and (min-width:1600px) and (max-width:1900px) {
    footer {
        position: relative;
        top: 100px;
    }
}

.container-form{
    max-width: 1100px;
    margin: 100px;
    display: inline-block;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 550px;
    margin-top: 100px;
    padding-top: 100px;
}

.container-form h2{
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.container-form p{
    width: 80%;
    margin-bottom: 50px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}

.container-form  i{
    color: #fff;
    margin-right: 10px;
    display: flex;
    margin-bottom: 10px;
    
}
.container-form form .campo, textarea{
    width: 80%;
    padding: 15px 10px;
    font-size: 16px;
    border:2px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    margin-top: 5px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 140px;
}
.btn-enviar{
    padding: 13px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #1203e3;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 400ms ease;
    margin: 100px 500px 100px 260px;
}
    

.container-form .btn-enviar:hover{
    background: #1203e3;
}